<h2>Products</h2>
<!--*ngFor is used so that the div tag can be repeated for every element in the list-->
<div *ngFor="let product of products">

  <h3>
    <!-- [] is a property binding syntax which lets you use the property value in a template expression (in this case - when hovering over the product, it will say the phone name + details). This means you can bind a property to an element of the component's property. -->
    <a [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]">
    {{product.name}}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{product.description}}
  </p>

  <button type="button" (click)="share()">
    Share
  </button>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->